@model Framework.DTOs.ReportDtos.ReportFilterDto
<form class="collection-header">
    <div class="flex-column-res report">
        <div class="filter-item">
            <div>
                <p class="label">
                    Từ ngày
                </p>
                @Html.TextBoxFor(model => model.FromDate, "", new
                   {
                       style = "cursor:pointer;",
                       @class="datepicker"
                   })
            </div>
        </div>
        <div class="filter-item">
            <div>
                <p class="label">
                    Tới ngày
                </p>
                @Html.TextBoxFor(model => model.ToDate, "", new
                   {
                       style = "cursor:pointer;",
                       @class="datepicker"
                   })
            </div>
        </div>
        <div class="filter-item" name="CreateTimeFilters">
            <button type="submit" class="btn btn-info">
                Tra cứu
            </button>
        </div>
    </div>
</form>