USE [master]
GO
/****** Object:  Database [gwebpanel]    Script Date: 9/22/2018 4:45:01 PM ******/
CREATE DATABASE [gwebpanel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gwebpanel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GGROUP\MSSQL\DATA\gwebpanel.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gwebpanel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GGROUP\MSSQL\DATA\gwebpanel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gwebpanel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gwebpanel]
GO
USE [gwebpanel]
GO
/****** Object:  User [gwebpanel]    Script Date: 9/22/2018 4:45:01 PM ******/
CREATE USER [gwebpanel] FOR LOGIN [gwebpanel] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [gwebpanel]
GO
/****** Object:  Schema [Task]    Script Date: 9/22/2018 4:45:01 PM ******/
CREATE SCHEMA [Task]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/22/2018 4:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/22/2018 4:45:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/22/2018 4:45:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/22/2018 4:45:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/22/2018 4:45:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/22/2018 4:45:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/22/2018 4:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Active] [bit] NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Carrer] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[IdentityCardNumber] [nvarchar](max) NULL,
	[IsBanned] [bit] NULL,
	[IsTest] [bit] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Note] [nvarchar](max) NULL,
	[ObjectId] [nvarchar](450) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[Protected] [bit] NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/22/2018 4:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignWorkUsers]    Script Date: 9/22/2018 4:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignWorkUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[AssignToRole] [nvarchar](100) NULL,
	[AssignerRole] [nvarchar](100) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_AssignWorkUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CacheDatas]    Script Date: 9/22/2018 4:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CacheDatas](
	[Key] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Expired] [bit] NOT NULL,
	[ExpiredDate] [datetime2](7) NOT NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_CacheDatas] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 9/22/2018 4:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[Address] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Email] [nvarchar](1000) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](450) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonConfigurations]    Script Date: 9/22/2018 4:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonConfigurations](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[HeadQuarter] [nvarchar](max) NULL,
	[Hotline] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[Logo] [nvarchar](max) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[Website] [nvarchar](max) NULL,
 CONSTRAINT [PK_CommonConfigurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdConfiguration]    Script Date: 9/22/2018 4:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdConfiguration](
	[Prefix] [nvarchar](100) NOT NULL,
	[CurrentValue] [int] NOT NULL,
 CONSTRAINT [PK_IdConfiguration] PRIMARY KEY CLUSTERED 
(
	[Prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loggers]    Script Date: 9/22/2018 4:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loggers](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[Content] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[LogType] [nvarchar](max) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_Loggers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationPermissionConfiguration]    Script Date: 9/22/2018 4:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationPermissionConfiguration](
	[Id] [nvarchar](100) NOT NULL,
	[NotificationCode] [nvarchar](100) NULL,
	[NotificationDecription] [nvarchar](1000) NULL,
	[PermissionValue] [nvarchar](100) NULL,
 CONSTRAINT [PK_NotificationPermissionConfiguration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/22/2018 4:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[Content] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[IsTest] [bit] NULL,
	[Link] [nvarchar](max) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[StaffId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 9/22/2018 4:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[EstimatedInstallationTime] [decimal](18, 2) NOT NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[QoutationId] [int] NULL,
	[TotalPrice] [float] NOT NULL,
	[Promotion] [decimal](18, 2) NOT NULL,
	[OrderStatusId] [nvarchar](450) NULL,
	[ExpectedDeliveryDate] [datetime2](7) NULL,
	[CreationStaffId] [nvarchar](450) NULL,
	[PaidPrice] [float] NOT NULL,
	[RemainingPrice]  AS ([TotalPrice]-[PaidPrice]),
	[ClientId] [nvarchar](450) NULL,
	[ExpectedReturnGoodDate] [datetime2](7) NULL,
	[StopUpdateExpectedReturnGoodDate] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 9/22/2018 4:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[OrderId] [nvarchar](450) NULL,
	[ProductDetail] [nvarchar](max) NULL,
	[ProductId] [nvarchar](450) NULL,
	[ProductNote] [nvarchar](max) NULL,
	[ProductSize] [nvarchar](max) NULL,
	[ProductUnit] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[ProductQuantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[VAT] [float] NOT NULL,
	[TotalPrice]  AS (([VAT]*[UnitPrice]+[UnitPrice])*[ProductQuantity]),
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderEvent]    Script Date: 9/22/2018 4:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderEvent](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[OrderId] [nvarchar](450) NULL,
	[OrderStatusId] [nvarchar](450) NULL,
	[Protected] [bit] NULL,
	[StaffId] [nvarchar](450) NULL,
 CONSTRAINT [PK_OrderEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProcessedInterested]    Script Date: 9/22/2018 4:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProcessedInterested](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsSelf] [bit] NOT NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[OrderStatusId] [nvarchar](max) NULL,
	[OrderStatusStaffCreated] [nvarchar](max) NULL,
	[Permission] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_OrderProcessedInterested] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 9/22/2018 4:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](2000) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusWaitingApprovalInterested]    Script Date: 9/22/2018 4:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusWaitingApprovalInterested](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsSelf] [bit] NOT NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Permission] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[OrderStatusId] [nvarchar](max) NULL,
	[OrderStatusStaffCreated] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderStatusWaitingApprovalInterested] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusWaitingProcessInterested]    Script Date: 9/22/2018 4:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusWaitingProcessInterested](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsSelf] [bit] NOT NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Permission] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[OrderStatusId] [nvarchar](max) NULL,
	[OrderStatusStaffCreated] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderStatusWaitingProcessInterested] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 9/22/2018 4:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/22/2018 4:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Decription] [nvarchar](max) NULL,
	[Images] [nvarchar](2000) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Protected] [bit] NULL,
	[Size] [nvarchar](max) NULL,
	[Unit] [nvarchar](450) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qoutation]    Script Date: 9/22/2018 4:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qoutation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Active] [bit] NULL,
	[ClientId] [nvarchar](450) NULL,
	[ConfirmStaffId] [nvarchar](450) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[DeliveryPlace] [nvarchar](1000) NULL,
	[EstimatedInstallationTime] [decimal](18, 2) NOT NULL,
	[IsTest] [bit] NULL,
	[ManagerId] [nvarchar](450) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[QoutationStatusId] [nvarchar](450) NULL,
	[QouteStaffId] [nvarchar](450) NULL,
	[RejectReason] [nvarchar](max) NULL,
	[SalesAdminId] [nvarchar](450) NULL,
	[TotalPriceSell] [float] NOT NULL,
	[TotalPriceBuy] [float] NOT NULL,
 CONSTRAINT [PK_Qoutation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QoutationDetail]    Script Date: 9/22/2018 4:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QoutationDetail](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[ProductId] [nvarchar](450) NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductQuantity] [int] NOT NULL,
	[Protected] [bit] NULL,
	[QoutationId] [int] NOT NULL,
	[UnitPriceSell] [decimal](18, 2) NOT NULL,
	[VATSell] [float] NOT NULL,
	[ProductDetail] [nvarchar](max) NULL,
	[ProductNote] [nvarchar](max) NULL,
	[ProductSize] [nvarchar](max) NULL,
	[ProductUnit] [nvarchar](max) NULL,
	[UnitPriceBuy] [decimal](18, 2) NOT NULL,
	[VATBuy] [float] NOT NULL,
	[TotalPriceBuy]  AS (([VATBuy]*[UnitPriceBuy]+[UnitPriceBuy])*[ProductQuantity]),
	[TotalPriceSell]  AS (([VATSell]*[UnitPriceSell]+[UnitPriceSell])*[ProductQuantity]),
 CONSTRAINT [PK_QoutationDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QoutationEvent]    Script Date: 9/22/2018 4:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QoutationEvent](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[QoutationId] [int] NOT NULL,
	[QoutationStatusId] [nvarchar](450) NULL,
	[StaffId] [nvarchar](450) NULL,
 CONSTRAINT [PK_QoutationEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QoutationSendNotificationConfigs]    Script Date: 9/22/2018 4:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QoutationSendNotificationConfigs](
	[Id] [nvarchar](450) NOT NULL,
	[QoutationStatus] [nvarchar](max) NULL,
	[SendtoPermission] [nvarchar](max) NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_QoutationSendNotificationConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QoutationStatus]    Script Date: 9/22/2018 4:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QoutationStatus](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](2000) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_QoutationStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotesProcessedInterested]    Script Date: 9/22/2018 4:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotesProcessedInterested](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Permission] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[QoutationStatusId] [nvarchar](max) NULL,
	[IsSelf] [bit] NOT NULL,
	[QoutationStatusStaffCreated] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuotesProcessedInterested] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotesStatusWaitingApprovalInterested]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotesStatusWaitingApprovalInterested](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Permission] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[QoutationStatusId] [nvarchar](max) NULL,
	[IsSelf] [bit] NOT NULL,
	[QoutationStatusStaffCreated] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuotesStatusWaitingApprovalInterested] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotesStatusWaitingProcessInterested]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotesStatusWaitingProcessInterested](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Permission] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[QoutationStatusId] [nvarchar](max) NULL,
	[IsSelf] [bit] NOT NULL,
	[QoutationStatusStaffCreated] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuotesStatusWaitingProcessInterested] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[Address] [nvarchar](2000) NULL,
	[Career] [nvarchar](200) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IdentityCard] [nvarchar](450) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserObject]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserObject](
	[Id] [nvarchar](450) NOT NULL,
	[DefaultCarrer] [nvarchar](max) NULL,
	[Name] [nvarchar](100) NULL,
	[RoleId] [nvarchar](450) NULL,
 CONSTRAINT [PK_UserObject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Task].[Priority]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Task].[Priority](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[Color] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[PriorityValue] [int] NOT NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Task].[Task]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Task].[Task](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[AssignToId] [nvarchar](450) NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[FinishDate] [datetime2](7) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[PriorityId] [nvarchar](450) NULL,
	[Protected] [bit] NULL,
	[TaskStatusId] [nvarchar](450) NULL,
	[WorkId] [nvarchar](450) NULL,
	[AssignerId] [nvarchar](450) NULL,
	[DateReception] [datetime2](7) NOT NULL,
	[Deadline] [datetime2](7) NOT NULL,
	[Result] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Task].[TaskStatus]    Script Date: 9/22/2018 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Task].[TaskStatus](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Decription] [nvarchar](200) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_TaskStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Task].[Work]    Script Date: 9/22/2018 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Task].[Work](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[DateBegin] [datetime2](7) NOT NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[PriorityId] [nvarchar](450) NULL,
	[Protected] [bit] NULL,
	[TimeExpired] [datetime2](7) NOT NULL,
	[WorkStatusId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Work] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Task].[WorkStatus]    Script Date: 9/22/2018 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Task].[WorkStatus](
	[Id] [nvarchar](450) NOT NULL,
	[Active] [bit] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreationUserName] [nvarchar](max) NULL,
	[Decription] [nvarchar](200) NULL,
	[IsTest] [bit] NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Protected] [bit] NULL,
 CONSTRAINT [PK_WorkStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180806024155_InitModel', N'2.0.3-rtm-10026')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180806024330_AddData', N'2.0.3-rtm-10026')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180806063806_AddProductDetailColumn', N'2.0.3-rtm-10026')
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] ON 

INSERT [dbo].[AspNetRoleClaims] ([Id], [ClaimType], [ClaimValue], [RoleId]) VALUES (1, N'Permission', N'RegisterUser', N'admin')
INSERT [dbo].[AspNetRoleClaims] ([Id], [ClaimType], [ClaimValue], [RoleId]) VALUES (2, N'Permission', N'AssignTask', N'manager')
INSERT [dbo].[AspNetRoleClaims] ([Id], [ClaimType], [ClaimValue], [RoleId]) VALUES (3, N'Permission', N'AssignTask', N'accounting_manager')
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] OFF
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'accountant', NULL, N'accountant', N'accountant')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'accountant_buy', NULL, N'accountant_buy', N'accountant_buy')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'accountant_sell', NULL, N'accountant_sell', N'accountant_sell')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0009a336-8a7a-46f4-9fd7-4bcfadcea227', N'accountant')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1126ddbc-33bd-4b7f-8daa-ca20b2d2f41f', N'accountant')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'40325139-2b45-4fb6-b804-850ff7b43015', N'accountant')
INSERT [dbo].[AssignWorkUsers] ([Id], [Active], [AssignToRole], [AssignerRole], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'1', 1, N'accountant_buy', N'manager', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AssignWorkUsers] ([Id], [Active], [AssignToRole], [AssignerRole], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'10', NULL, N'accountant_buy', N'accounting_manager', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AssignWorkUsers] ([Id], [Active], [AssignToRole], [AssignerRole], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'2', NULL, N'accountant_sell', N'manager', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Client] ([Id], [Active], [Address], [CreationTime], [CreationUserName], [Email], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PhoneNumber], [Protected]) VALUES (N'2e97efc2352d9', 1, N'Địa chỉ', CAST(N'2018-08-06T16:55:55.8748871' AS DateTime2), N'nhanviensale', NULL, NULL, NULL, NULL, N'Khách hàng 2', NULL, N'123123123', NULL)
INSERT [dbo].[Client] ([Id], [Active], [Address], [CreationTime], [CreationUserName], [Email], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PhoneNumber], [Protected]) VALUES (N'2ee0f23209792', 1, N'Địa chỉ', CAST(N'2018-08-12T12:17:53.4692783' AS DateTime2), N'nhanviensale', NULL, NULL, NULL, NULL, N'Khách hàng mới', NULL, N'Số điện thoại', NULL)
INSERT [dbo].[Client] ([Id], [Active], [Address], [CreationTime], [CreationUserName], [Email], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PhoneNumber], [Protected]) VALUES (N'2eed656d65092', 1, N'KTX Khu B DHQGTPHCM', CAST(N'2018-08-13T12:03:50.0719578' AS DateTime2), N'nhanviensale', NULL, NULL, NULL, NULL, N'Dương Văn Hùng', NULL, N'0123456798', NULL)
INSERT [dbo].[CommonConfigurations] ([Id], [Active], [CompanyName], [Contact], [CreationTime], [CreationUserName], [HeadQuarter], [Hotline], [IsTest], [Logo], [ModifiedTime], [ModifiedUserName], [Note], [Protected], [Website]) VALUES (N'c1', 1, N'TNHH Thương Mại Dịch Vụ Thanh Vương', N'0258.3551322 hoặc 0258.3550768', NULL, NULL, N'Số 22 Điện Biên Phủ, P. Vĩnh Hòa, TP. Nha Trang', N'0905.154.468 - 0905.059.969', NULL, N'/images/company.png', NULL, NULL, NULL, NULL, N'thanhvuongco.com')
INSERT [dbo].[IdConfiguration] ([Prefix], [CurrentValue]) VALUES (N'DH', 1)
INSERT [dbo].[IdConfiguration] ([Prefix], [CurrentValue]) VALUES (N'Product', 2)
INSERT [dbo].[IdConfiguration] ([Prefix], [CurrentValue]) VALUES (N'SP', 22)
INSERT [dbo].[Loggers] ([Id], [Active], [Content], [CreationTime], [CreationUserName], [IsTest], [LogType], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'2ee19bba69801', NULL, N'NV Trưởng phòng sale phê duyệt báo giá vừa được tạo', CAST(N'2018-08-12T13:33:44.3271784' AS DateTime2), N'truongphongsale', NULL, N'infomation', NULL, NULL, NULL, NULL)
INSERT [dbo].[Loggers] ([Id], [Active], [Content], [CreationTime], [CreationUserName], [IsTest], [LogType], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'2ee19c09b2aeb', NULL, N'Người dùng truongphongsale đã đăng xuất khỏi hệ thống', CAST(N'2018-08-12T13:33:52.6409046' AS DateTime2), N'truongphongsale', NULL, N'infomation', NULL, NULL, NULL, NULL)
INSERT [dbo].[Loggers] ([Id], [Active], [Content], [CreationTime], [CreationUserName], [IsTest], [LogType], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'2ee19c3d42bb8', NULL, N'Người dùng nhanvienketoan đã đăng nhập vào hệ thống', CAST(N'2018-08-12T13:33:58.0476557' AS DateTime2), NULL, NULL, N'infomation', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Notifications] ([Id], [Active], [Content], [CreationTime], [CreationUserName], [Icon], [IsRead], [IsTest], [Link], [ModifiedTime], [ModifiedUserName], [Note], [Protected], [StaffId]) VALUES (N'1', 1, N'thông báo', CAST(N'2018-09-09T14:13:48.4100000' AS DateTime2), NULL, NULL, 0, NULL, N'https://google.com', NULL, NULL, NULL, NULL, N'300f041f68a9b')
INSERT [dbo].[Notifications] ([Id], [Active], [Content], [CreationTime], [CreationUserName], [Icon], [IsRead], [IsTest], [Link], [ModifiedTime], [ModifiedUserName], [Note], [Protected], [StaffId]) VALUES (N'306acd6d6d9ce', 1, N'Demo test', CAST(N'2018-09-12T20:07:13.8697692' AS DateTime2), N'thaobtp', NULL, 0, NULL, N'https://facebook.com', NULL, NULL, NULL, NULL, N'300f041f68a9b')
INSERT [dbo].[Notifications] ([Id], [Active], [Content], [CreationTime], [CreationUserName], [Icon], [IsRead], [IsTest], [Link], [ModifiedTime], [ModifiedUserName], [Note], [Protected], [StaffId]) VALUES (N'306acdb333922', 1, N'Demo test', CAST(N'2018-09-12T20:07:21.1841016' AS DateTime2), N'thaobtp', NULL, 0, NULL, N'https://facebook.com', NULL, NULL, NULL, NULL, N'300f041f68a9b')
GO
INSERT [dbo].[OrderProcessedInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [OrderStatusId], [OrderStatusStaffCreated], [Permission], [Protected]) VALUES (N'1', 1, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'already_created', N'already_created', N'CanCreateOrder', NULL)
INSERT [dbo].[OrderStatus] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected]) VALUES (N'accountant_has_ordered', 1, NULL, NULL, NULL, NULL, NULL, N'Nhân viên kế toán yêu cầu đặt hàng', N'Nhân viên kế toán đã đặt hàng, Người tạo: Nhân viên kế toán', NULL)
INSERT [dbo].[OrderStatus] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected]) VALUES (N'accountant_receive_money', 1, NULL, NULL, NULL, NULL, NULL, N'Đã thu tiền', N'Nhân viên kế toán đã thu tiền, Người tạo: Nhân viên kế toán', NULL)
INSERT [dbo].[OrderStatus] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected]) VALUES (N'accountanting_manager_approve_ordered', 1, NULL, NULL, NULL, NULL, NULL, N'Đã đặt hàng', N'Trưởng phòng kế toán đã duyệt đặt hàng', NULL)
INSERT [dbo].[OrderStatusWaitingApprovalInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [OrderStatusId], [OrderStatusStaffCreated]) VALUES (N'1', 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, N'CanApproveAlreadyCreatedOrder', NULL, N'already_created', NULL)
INSERT [dbo].[OrderStatusWaitingApprovalInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [OrderStatusId], [OrderStatusStaffCreated]) VALUES (N'10', 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, N'CanReceiveMoney', NULL, N'chief_technical_deliver', NULL)
INSERT [dbo].[OrderStatusWaitingApprovalInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [OrderStatusId], [OrderStatusStaffCreated]) VALUES (N'11', 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, N'CanReceiveMoney', NULL, N'client_dept', N'client_dept')
INSERT [dbo].[OrderStatusWaitingProcessInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [OrderStatusId], [OrderStatusStaffCreated]) VALUES (N'1', 1, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'CanCreateOrder', NULL, N'already_created', N'already_created')
INSERT [dbo].[OrderStatusWaitingProcessInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [OrderStatusId], [OrderStatusStaffCreated]) VALUES (N'10', 1, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'CanFinishDelivery', NULL, N'chief_technical_deliver', N'chief_technical_deliver')
INSERT [dbo].[OrderStatusWaitingProcessInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsSelf], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [OrderStatusId], [OrderStatusStaffCreated]) VALUES (N'11', 1, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'CanReceiveMoney', NULL, N'client_dept', N'client_dept')
INSERT [dbo].[Product] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [Images], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Price], [Protected], [Size], [Unit]) VALUES (N'product1', 1, NULL, NULL, N'- Bàn trưởng phòng, mặt bàn chữ nhật, trên mặt có tấm PVC đen. 
- Chân bàn ốp PVC đen mặt trước.
- Yếm bàn ốp tấm gỗ nổi hình chữ nhật.
- Phụ kiện bản lề, cam, liên kết của hafele (không gồm bàn phụ)', N'/images/products/product1.png', 1, NULL, NULL, N'Bàn trưởng phòng', NULL, CAST(3653000.00 AS Decimal(18, 2)), NULL, N'1800x900x760', N'cái')
INSERT [dbo].[Product] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [Images], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Price], [Protected], [Size], [Unit]) VALUES (N'product10', 1, NULL, NULL, N'- Tủ làm bằng gỗ MFC màu vân gỗ H2102.
- Phần trên có 2 cánh kính khung gỗ mở, bên trong có 2 đợt cố định;
- Phần dưới 2 cánh gỗ mở', N'/images/products/product10.png', 1, NULL, NULL, N'Tủ gỗ', NULL, CAST(2000000.00 AS Decimal(18, 2)), NULL, N'800x400x1830', N'cái')
INSERT [dbo].[Product] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [Images], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Price], [Protected], [Size], [Unit]) VALUES (N'product11', 1, NULL, NULL, N'- Tủ 2 cánh mở, 2 khoang, 
vách giữa, 2 khóa, 
- Mỗi khoang có 3 đợt di động và 1 thanh treo quần áo', N'/images/products/product11.png', 1, NULL, NULL, N'Tủ sắt hồ sơ', NULL, CAST(3050000.00 AS Decimal(18, 2)), NULL, N'1000x450x1830', N'cái')
INSERT [dbo].[QoutationSendNotificationConfigs] ([Id], [QoutationStatus], [SendtoPermission], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'1', N'already_created', N'ApproveQoutation', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QoutationStatus] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected]) VALUES (N'accountant_fill', 1, NULL, NULL, NULL, NULL, NULL, N'Đã điền giá', N'Nhân viên kế toán đã điền giá, đang đợi sự phê duyệt của trưởng phòng kế toán, Người tạo: Nhân viên kế toán, Người được thông báo: Nhân viên kế toán, Trưởng phòng kế toán', NULL)
INSERT [dbo].[QoutationStatus] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected]) VALUES (N'accountant_fill_buy', 1, NULL, NULL, NULL, NULL, NULL, N'Đã điền giá nhập', NULL, NULL)
INSERT [dbo].[QoutationStatus] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected]) VALUES (N'accountant_fill_sell', 1, NULL, NULL, NULL, NULL, NULL, N'Đã điền giá bán', NULL, NULL)
INSERT [dbo].[QuotesProcessedInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'1', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AdjustPrice', NULL, N'accounting_manager_approve_price', 1, N'accountant_fill')
INSERT [dbo].[QuotesProcessedInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'2', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AdjustPrice', NULL, N'sales_manager_approve_price_qoutation', 1, N'accountant_fill')
INSERT [dbo].[QuotesProcessedInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'3', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AccountingManagerApprovePrice', NULL, N'sales_manager_approve_price_qoutation', 1, N'accounting_manager_approve_price')
INSERT [dbo].[QuotesStatusWaitingApprovalInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'1', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AdjustPrice', NULL, N'manager_approve_qoutation', 0, NULL)
INSERT [dbo].[QuotesStatusWaitingApprovalInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'10', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'ApproveQoutation', NULL, N'client_reject', 0, NULL)
INSERT [dbo].[QuotesStatusWaitingApprovalInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'11', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AdjustPriceBuy', NULL, N'manager_approve_qoutation', 0, NULL)
INSERT [dbo].[QuotesStatusWaitingProcessInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'1', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'CreateQoutation', NULL, N'already_created', 1, N'already_created')
INSERT [dbo].[QuotesStatusWaitingProcessInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'10', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AdjustPriceBuy', NULL, N'accountant_fill_buy', 1, N'accountant_fill_buy')
INSERT [dbo].[QuotesStatusWaitingProcessInterested] ([Id], [Active], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Permission], [Protected], [QoutationStatusId], [IsSelf], [QoutationStatusStaffCreated]) VALUES (N'11', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'AdjustPriceSell', NULL, N'accountant_fill_sell', 1, N'accountant_fill_sell')
INSERT [dbo].[Staff] ([Id], [Active], [Address], [Career], [CreationTime], [CreationUserName], [IdentityCard], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected], [UserId]) VALUES (N'2e943516e0593', 1, N'Admin', N'Quản trị hệ thống', CAST(N'2018-08-06T09:48:49.1684057' AS DateTime2), NULL, N'123535456', NULL, NULL, NULL, N'Admin', NULL, NULL, N'2833a50b-fbba-464f-8167-09b48d2a5d9d')
INSERT [dbo].[Staff] ([Id], [Active], [Address], [Career], [CreationTime], [CreationUserName], [IdentityCard], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected], [UserId]) VALUES (N'2e943fb303163', 1, N'Địa chỉ', N'Nhân viên sale', CAST(N'2018-08-06T09:53:33.9743489' AS DateTime2), N'admin', N'123123', NULL, NULL, NULL, N'Nhân Viên Sale', NULL, NULL, N'23cf95d1-99a0-4dca-8662-399087c343c3')
INSERT [dbo].[Staff] ([Id], [Active], [Address], [Career], [CreationTime], [CreationUserName], [IdentityCard], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [Protected], [UserId]) VALUES (N'2e94401ff2539', 1, N'Địa chỉ', N'Nhân viên kế toán', CAST(N'2018-08-06T09:53:45.3967827' AS DateTime2), N'admin', N'123123', NULL, NULL, NULL, N'Nhân Viên Kế toán', NULL, NULL, N'40325139-2b45-4fb6-b804-850ff7b43015')
INSERT [dbo].[UserObject] ([Id], [DefaultCarrer], [Name], [RoleId]) VALUES (N'accountant', N'Nhân viên kế toán', N'Nhân viên kế toán', N'accountant')
INSERT [dbo].[UserObject] ([Id], [DefaultCarrer], [Name], [RoleId]) VALUES (N'accountant_buy', N'Nhân viên kế toán nhập', N'Nhân viên kế toán nhập', N'accountant_buy')
INSERT [dbo].[UserObject] ([Id], [DefaultCarrer], [Name], [RoleId]) VALUES (N'accountant_sell', N'Nhân viên kế toán bán', N'Nhân viên kế toán bán', N'accountant_sell')
INSERT [Task].[Priority] ([Id], [Active], [Color], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PriorityValue], [Protected]) VALUES (N'1', 1, N'#EF5350', NULL, NULL, NULL, NULL, NULL, N'Cao', NULL, 3, NULL)
INSERT [Task].[Priority] ([Id], [Active], [Color], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PriorityValue], [Protected]) VALUES (N'2', 1, N'#f9a825', NULL, NULL, NULL, NULL, NULL, N'Trung bình', NULL, 2, NULL)
INSERT [Task].[Priority] ([Id], [Active], [Color], [CreationTime], [CreationUserName], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PriorityValue], [Protected]) VALUES (N'3', 1, N'#66BB6A', NULL, NULL, NULL, NULL, NULL, N'Thấp', NULL, 1, NULL)
INSERT [Task].[TaskStatus] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'da-hoan-thanh', 1, NULL, NULL, N'Đã hoàn thành', NULL, NULL, NULL, NULL, NULL)
INSERT [Task].[TaskStatus] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'da-huy-bo', 1, NULL, NULL, N'Đã hủy bỏ', NULL, NULL, NULL, NULL, NULL)
INSERT [Task].[TaskStatus] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'dang-thuc-hien', 1, NULL, NULL, N'Đang thực hiện', NULL, NULL, NULL, NULL, NULL)
INSERT [Task].[Work] ([Id], [Active], [CreationTime], [CreationUserName], [DateBegin], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PriorityId], [Protected], [TimeExpired], [WorkStatusId]) VALUES (N'2fb72c3bef4bd', 0, CAST(N'2018-08-29T13:13:48.2336586' AS DateTime2), N'truongphongsale', CAST(N'2018-08-22T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-09-05T20:35:19.5647887' AS DateTime2), N'truongphongsale', N'Công việc 4', NULL, N'3', NULL, CAST(N'2018-09-08T00:00:00.0000000' AS DateTime2), N'da-hoan-thanh')
INSERT [Task].[Work] ([Id], [Active], [CreationTime], [CreationUserName], [DateBegin], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PriorityId], [Protected], [TimeExpired], [WorkStatusId]) VALUES (N'2fb73e764aaee', 0, CAST(N'2018-08-29T13:21:57.5371689' AS DateTime2), N'truongphongsale', CAST(N'2018-08-10T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-09-05T20:32:10.4786666' AS DateTime2), N'truongphongsale', N'Công việc 5', NULL, N'1', NULL, CAST(N'2018-09-29T00:00:00.0000000' AS DateTime2), N'dang-thuc-hien')
INSERT [Task].[Work] ([Id], [Active], [CreationTime], [CreationUserName], [DateBegin], [IsTest], [ModifiedTime], [ModifiedUserName], [Name], [Note], [PriorityId], [Protected], [TimeExpired], [WorkStatusId]) VALUES (N'2fb73e78e575b', 0, CAST(N'2018-08-29T13:21:57.8097678' AS DateTime2), N'truongphongsale', CAST(N'2018-08-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-09-05T20:36:19.9617294' AS DateTime2), N'truongphongsale', N'Công việc 6', NULL, N'1', NULL, CAST(N'2018-08-31T00:00:00.0000000' AS DateTime2), N'dang-thuc-hien')
INSERT [Task].[WorkStatus] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'da-hoan-thanh', 1, NULL, NULL, N'Đã hoàn thành', NULL, NULL, NULL, NULL, NULL)
INSERT [Task].[WorkStatus] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'da-huy-bo', 1, NULL, NULL, N'Đã hủy bỏ', NULL, NULL, NULL, NULL, NULL)
INSERT [Task].[WorkStatus] ([Id], [Active], [CreationTime], [CreationUserName], [Decription], [IsTest], [ModifiedTime], [ModifiedUserName], [Note], [Protected]) VALUES (N'dang-thuc-hien', 1, NULL, NULL, N'Đang thực hiện', NULL, NULL, NULL, NULL, NULL)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUsers_ObjectId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_ObjectId] ON [dbo].[AspNetUsers]
(
	[ObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_ClientId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_ClientId] ON [dbo].[Order]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_CreationStaffId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_CreationStaffId] ON [dbo].[Order]
(
	[CreationStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_OrderStatusId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_OrderStatusId] ON [dbo].[Order]
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_QoutationId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_QoutationId] ON [dbo].[Order]
(
	[QoutationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetail_OrderId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetail_OrderId] ON [dbo].[OrderDetail]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetail_ProductId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetail_ProductId] ON [dbo].[OrderDetail]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderEvent_OrderId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderEvent_OrderId] ON [dbo].[OrderEvent]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderEvent_OrderStatusId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderEvent_OrderStatusId] ON [dbo].[OrderEvent]
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderEvent_StaffId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderEvent_StaffId] ON [dbo].[OrderEvent]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Qoutation_ClientId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qoutation_ClientId] ON [dbo].[Qoutation]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Qoutation_ConfirmStaffId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qoutation_ConfirmStaffId] ON [dbo].[Qoutation]
(
	[ConfirmStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Qoutation_ManagerId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qoutation_ManagerId] ON [dbo].[Qoutation]
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Qoutation_QoutationStatusId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qoutation_QoutationStatusId] ON [dbo].[Qoutation]
(
	[QoutationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Qoutation_QouteStaffId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qoutation_QouteStaffId] ON [dbo].[Qoutation]
(
	[QouteStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Qoutation_SalesAdminId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Qoutation_SalesAdminId] ON [dbo].[Qoutation]
(
	[SalesAdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QoutationDetail_ProductId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_QoutationDetail_ProductId] ON [dbo].[QoutationDetail]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QoutationDetail_QoutationId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_QoutationDetail_QoutationId] ON [dbo].[QoutationDetail]
(
	[QoutationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QoutationEvent_QoutationId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_QoutationEvent_QoutationId] ON [dbo].[QoutationEvent]
(
	[QoutationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QoutationEvent_QoutationStatusId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_QoutationEvent_QoutationStatusId] ON [dbo].[QoutationEvent]
(
	[QoutationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QoutationEvent_StaffId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_QoutationEvent_StaffId] ON [dbo].[QoutationEvent]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_UserId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staff_UserId] ON [dbo].[Staff]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserObject_RoleId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserObject_RoleId] ON [dbo].[UserObject]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_AssignerId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Task_AssignerId] ON [Task].[Task]
(
	[AssignerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_AssignToId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Task_AssignToId] ON [Task].[Task]
(
	[AssignToId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_PriorityId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Task_PriorityId] ON [Task].[Task]
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_TaskStatusId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Task_TaskStatusId] ON [Task].[Task]
(
	[TaskStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_WorkId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Task_WorkId] ON [Task].[Task]
(
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Work_PriorityId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Work_PriorityId] ON [Task].[Work]
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Work_WorkStatusId]    Script Date: 9/22/2018 4:45:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Work_WorkStatusId] ON [Task].[Work]
(
	[WorkStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0.0)) FOR [Promotion]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [PaidPrice]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0)) FOR [ProductQuantity]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0.0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [VAT]
GO
ALTER TABLE [dbo].[Qoutation] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [TotalPriceBuy]
GO
ALTER TABLE [dbo].[QoutationDetail] ADD  DEFAULT ((0.0)) FOR [UnitPriceBuy]
GO
ALTER TABLE [dbo].[QoutationDetail] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [VATBuy]
GO
ALTER TABLE [dbo].[QuotesProcessedInterested] ADD  DEFAULT ((0)) FOR [IsSelf]
GO
ALTER TABLE [dbo].[QuotesStatusWaitingApprovalInterested] ADD  DEFAULT ((0)) FOR [IsSelf]
GO
ALTER TABLE [dbo].[QuotesStatusWaitingProcessInterested] ADD  DEFAULT ((0)) FOR [IsSelf]
GO
ALTER TABLE [Task].[Task] ADD  DEFAULT ('0001-01-01T00:00:00.000') FOR [DateReception]
GO
ALTER TABLE [Task].[Task] ADD  DEFAULT ('0001-01-01T00:00:00.000') FOR [Deadline]
GO
ALTER TABLE [Task].[Task] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_UserObject_ObjectId] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[UserObject] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_UserObject_ObjectId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client_ClientId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus_OrderStatusId] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatus] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus_OrderStatusId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Qoutation_QoutationId] FOREIGN KEY([QoutationId])
REFERENCES [dbo].[Qoutation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Qoutation_QoutationId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Staff_CreationStaffId] FOREIGN KEY([CreationStaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Staff_CreationStaffId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order_OrderId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product_ProductId]
GO
ALTER TABLE [dbo].[OrderEvent]  WITH CHECK ADD  CONSTRAINT [FK_OrderEvent_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderEvent] CHECK CONSTRAINT [FK_OrderEvent_Order_OrderId]
GO
ALTER TABLE [dbo].[OrderEvent]  WITH CHECK ADD  CONSTRAINT [FK_OrderEvent_OrderStatus_OrderStatusId] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatus] ([Id])
GO
ALTER TABLE [dbo].[OrderEvent] CHECK CONSTRAINT [FK_OrderEvent_OrderStatus_OrderStatusId]
GO
ALTER TABLE [dbo].[OrderEvent]  WITH CHECK ADD  CONSTRAINT [FK_OrderEvent_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[OrderEvent] CHECK CONSTRAINT [FK_OrderEvent_Staff_StaffId]
GO
ALTER TABLE [dbo].[Qoutation]  WITH CHECK ADD  CONSTRAINT [FK_Qoutation_Client_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Qoutation] CHECK CONSTRAINT [FK_Qoutation_Client_ClientId]
GO
ALTER TABLE [dbo].[Qoutation]  WITH CHECK ADD  CONSTRAINT [FK_Qoutation_QoutationStatus_QoutationStatusId] FOREIGN KEY([QoutationStatusId])
REFERENCES [dbo].[QoutationStatus] ([Id])
GO
ALTER TABLE [dbo].[Qoutation] CHECK CONSTRAINT [FK_Qoutation_QoutationStatus_QoutationStatusId]
GO
ALTER TABLE [dbo].[Qoutation]  WITH CHECK ADD  CONSTRAINT [FK_Qoutation_Staff_ConfirmStaffId] FOREIGN KEY([ConfirmStaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Qoutation] CHECK CONSTRAINT [FK_Qoutation_Staff_ConfirmStaffId]
GO
ALTER TABLE [dbo].[Qoutation]  WITH CHECK ADD  CONSTRAINT [FK_Qoutation_Staff_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Qoutation] CHECK CONSTRAINT [FK_Qoutation_Staff_ManagerId]
GO
ALTER TABLE [dbo].[Qoutation]  WITH CHECK ADD  CONSTRAINT [FK_Qoutation_Staff_QouteStaffId] FOREIGN KEY([QouteStaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Qoutation] CHECK CONSTRAINT [FK_Qoutation_Staff_QouteStaffId]
GO
ALTER TABLE [dbo].[Qoutation]  WITH CHECK ADD  CONSTRAINT [FK_Qoutation_Staff_SalesAdminId] FOREIGN KEY([SalesAdminId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Qoutation] CHECK CONSTRAINT [FK_Qoutation_Staff_SalesAdminId]
GO
ALTER TABLE [dbo].[QoutationDetail]  WITH CHECK ADD  CONSTRAINT [FK_QoutationDetail_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[QoutationDetail] CHECK CONSTRAINT [FK_QoutationDetail_Product_ProductId]
GO
ALTER TABLE [dbo].[QoutationDetail]  WITH CHECK ADD  CONSTRAINT [FK_QoutationDetail_Qoutation_QoutationId] FOREIGN KEY([QoutationId])
REFERENCES [dbo].[Qoutation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QoutationDetail] CHECK CONSTRAINT [FK_QoutationDetail_Qoutation_QoutationId]
GO
ALTER TABLE [dbo].[QoutationEvent]  WITH CHECK ADD  CONSTRAINT [FK_QoutationEvent_Qoutation_QoutationId] FOREIGN KEY([QoutationId])
REFERENCES [dbo].[Qoutation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QoutationEvent] CHECK CONSTRAINT [FK_QoutationEvent_Qoutation_QoutationId]
GO
ALTER TABLE [dbo].[QoutationEvent]  WITH CHECK ADD  CONSTRAINT [FK_QoutationEvent_QoutationStatus_QoutationStatusId] FOREIGN KEY([QoutationStatusId])
REFERENCES [dbo].[QoutationStatus] ([Id])
GO
ALTER TABLE [dbo].[QoutationEvent] CHECK CONSTRAINT [FK_QoutationEvent_QoutationStatus_QoutationStatusId]
GO
ALTER TABLE [dbo].[QoutationEvent]  WITH CHECK ADD  CONSTRAINT [FK_QoutationEvent_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[QoutationEvent] CHECK CONSTRAINT [FK_QoutationEvent_Staff_StaffId]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserObject]  WITH CHECK ADD  CONSTRAINT [FK_UserObject_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[UserObject] CHECK CONSTRAINT [FK_UserObject_AspNetRoles_RoleId]
GO
ALTER TABLE [Task].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_AspNetUsers_AssignerId] FOREIGN KEY([AssignerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [Task].[Task] CHECK CONSTRAINT [FK_Task_AspNetUsers_AssignerId]
GO
ALTER TABLE [Task].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_AspNetUsers_AssignToId] FOREIGN KEY([AssignToId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [Task].[Task] CHECK CONSTRAINT [FK_Task_AspNetUsers_AssignToId]
GO
ALTER TABLE [Task].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Priority_PriorityId] FOREIGN KEY([PriorityId])
REFERENCES [Task].[Priority] ([Id])
GO
ALTER TABLE [Task].[Task] CHECK CONSTRAINT [FK_Task_Priority_PriorityId]
GO
ALTER TABLE [Task].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskStatus_TaskStatusId] FOREIGN KEY([TaskStatusId])
REFERENCES [Task].[TaskStatus] ([Id])
GO
ALTER TABLE [Task].[Task] CHECK CONSTRAINT [FK_Task_TaskStatus_TaskStatusId]
GO
ALTER TABLE [Task].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Work_WorkId] FOREIGN KEY([WorkId])
REFERENCES [Task].[Work] ([Id])
GO
ALTER TABLE [Task].[Task] CHECK CONSTRAINT [FK_Task_Work_WorkId]
GO
ALTER TABLE [Task].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Priority_PriorityId] FOREIGN KEY([PriorityId])
REFERENCES [Task].[Priority] ([Id])
GO
ALTER TABLE [Task].[Work] CHECK CONSTRAINT [FK_Work_Priority_PriorityId]
GO
ALTER TABLE [Task].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_WorkStatus_WorkStatusId] FOREIGN KEY([WorkStatusId])
REFERENCES [Task].[WorkStatus] ([Id])
GO
ALTER TABLE [Task].[Work] CHECK CONSTRAINT [FK_Work_WorkStatus_WorkStatusId]
GO
USE [master]
GO
