@model Framework.Services.Admins.OrderDetails.Dto.OrderDetailInput
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Thông tin người dùng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card-body">
            <form data-noreload="true"
                  data-on-submit-done="onInputSubmitDone"
                  data-on-submit-fail="onInputSubmitFail"
                  method="post"
                  asp-action="InputPartial"
                  id="saveInputForm">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <input asp-for="Id" type="hidden" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating" asp-for="ProductQuantity">Số lượng sản phẩm</label>
                            <input language-support="true" class="form-control" asp-for="ProductQuantity" required type="text" />
                            <span asp-validation-for="ProductQuantity"></span>
                        </div>
                    </div>
                    <div style="padding-left:0px;padding-right:0px;" class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="UnitPrice">Đơn giá</label>
                                <input language-support="true" class="form-control" asp-for="UnitPrice" type="text" />
                                <span asp-validation-for="UnitPrice"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="VAT">VAT</label>
                                <input language-support="true" class="form-control" asp-for="VAT" type="text" />
                                <span asp-validation-for="VAT"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" hidden></button>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" onclick="$('#saveInputForm').submit()" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Management/Views/Shared/_ValidationScriptsPartial.cshtml")
<script>
</script>
