@model WebCore.Services.Share.Admins.Orders.Dto.OrderFilterInput
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Lọc</h4>
        </div>
        <div class="card-body">
            <form id="filter" method="post" asp-action="FilterPartial">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Mã</label>
                            <input asp-for="Id" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Lọc</button>
                <button type="button" class="btn btn-primary pull-right reset-button">Làm mới</button>
            </form>
        </div>
    </div>
</div>

