@using WebCore.Services.Share.Admins.Orders.Dto
@model WebFramework.Areas.Management.Models.OrderViewModel
<div class="main-panel">
    <div class="content">
        @Html.Partial("FilterPartial", Model.FilterInput)
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Báo giá</h4>
                        </div>
                        <div id="mainList" class="card-body">
                            @Html.Partial("MainListPartial", Model.PagingResult)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="input-area" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
</div>



@section scripts{
    <script src="~/js/pages/permission-checked.js"></script>
    @Html.Partial("JsPartial")
}