@model WebFramework.Models.Shared.LayoutViewModel
@{ 
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="/images/logo.gif" />
    <title>@Model.Title</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body class="navbar-color gradient-45deg-purple-deep-orange gradient-shadow">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="center-page" id="login-page" class="row">
        <div class="center-page-contain">
            <div class="col s12 z-depth-4 card-panel">
                <form class="login-form">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <img src="/images/logo.gif" alt="" class="circle responsive-img valign profile-image-login">
                            <p class="center login-form-text">Quên mật khẩu</p>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-5">person_outline</i>
                            <input id="username" type="text">
                            <label for="username" class="center-align">Tên đăng nhập</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a class="btn waves-effect waves-light col s12" onclick='success()'>Báo Admin</a>
                        </div>
                        <div class="input-field col s12">
                            <p class="margin sign-up">
                                <a href="login.html">Login</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="page-footer gradient-45deg-purple-deep-orange">
        <div class="footer-copyright">
            <div class="container">
                <span>
                    Copyright ©
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script> <a class="grey-text text-lighten-4" href="/" target="_blank"></a> Admin Panel.
                </span>
                <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-4" href="#">T&H</a></span>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/js/script.js"></script>


</body>
</html>