@model WebCore.Services.Share.Admins.Users.Dto.UserResetPasswordInput
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Thay đổi mật khẩu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Thay đổi mật khẩu</h4>
            </div>
            <div class="card-body">
                <form data-noreload="true"
                      data-on-submit-done="onInputSubmitDone"
                      data-on-submit-fail="onInputSubmitFail"
                      method="post"
                      asp-action="ResetPasswordPartial"
                      id="saveInputForm">
                    <input asp-for="Id" type="hidden" class="form-control">
                    <input asp-for="UpdateToken" type="hidden" class="form-control">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating" asp-for="Password">Mật khẩu</label>
                            <input language-support="true" class="form-control" asp-for="Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating" asp-for="ConfirmPassword">Nhập lại mật khẩu</label>
                            <input language-support="true" class="form-control" asp-for="ConfirmPassword" required type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_ValidationScriptsPartial" />
    <script>
    </script>
